[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
	ignore = dirty
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
